.chatPage {
    margin-bottom: 800px;
}

.messageFormWrapper {
    background-color: slateblue;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;    
}
.messageInput {
    resize: none;
}
